body {
    font-family: Roboto;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .header {
    height: 72px;
    background: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 150px;
    padding-right: 150px;

  }
  a{
    text-decoration: none;
    color: white;
    margin: 8px;
  }
  ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 100;
  }
  .placeholder{
    width:500px;
    height:300px;
    padding-right: 150px;
  }
.UnderHeader{
    padding-top: 75px;
    display: flex;
    flex-direction: row;
    background: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 200px;
    gap: 30px;
}
.textsection{
    padding-left: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.subtext{
    font-size: 18px;
    color:#e5e7eb;
}

.BOLDTEXT{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.buttons{
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #3882f6;
    background-size: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #e5e7eb;
    font-weight: bold;
}

.info{
    max-width: 200px;

}
.container{
    display: flex;
    justify-content: center;
    gap: 52px;
    background-color: #f9faf8;
    text-align: center;
}

.placeholder2{
    width: 100px;
    height: 100px;
}

.BOLDTEXT2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;

}

.UnderHeader2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    gap: 30px;
    padding-top: 75px;
    
}

.QuoteSection{
    background: #e5e7eb;
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}
.Quote{
    font-size: 36px;   
    font-style: italic;
    color: #1f2937;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}
.Quote_Author{
 display: flex;
 justify-content: right;
 font-size: 24px;
 font-weight: bolder;
}
